$radius: 5px !default;

$border: 1px #ccc solid;
$main-width: 300px;
$main-height: 30px;
$main-font-size:15px;
$main-padding:5px;
$assets:'../assets/';

$top-radius: $radius $radius 0px 0px;
$bottom-radius: 0px 0px $radius $radius;


.select-container{

  .filter-container{
    .filter-input{
      width:$main-width;
      height:$main-height;
      border-radius: $radius;
      //background: #fff url($assets+'arrow.png') no-repeat scroll right center;
      background: #fff;
      background-position: right $main-padding top 5px;
      padding-left: $main-padding;
      border:$border;
      font-size: $main-font-size;
      outline: 0px;
    }

    .show-options-btn{
      width:21px;
      height:21px;
      background: url($assets+'arrow.png');
      display: inline-block;
      position: relative;
      right:60px;
      top:5px;
      cursor: pointer;
    }

    .delete-btn{
      width:25px;
      height:25px;
      background: url($assets+'delete.png');
      display: inline-block;
      position: relative;
      right:55px;
      top:6.5px;
      cursor: pointer;
    }
  }

  .select-option-container{
    width: $main-width;
    border: $border;
    border-top: 0px;
    border-radius: $bottom-radius;
    margin-top: -4px;
    display: none;

    .select-option{
      width: 100%;
      line-height: $main-height;
      cursor:pointer;
      font-size: $main-font-size;
      padding-left: $main-padding;

      &:hover{
        background: #ECF5FF;
      }

      &:last-child{
        border-radius: $bottom-radius;
      }
    }
  }
}
